
body{

background-color: rgb(55, 163, 158);
color:
font-family  'Montserrat', sans-serif;
}

  header{
    text-align: center;
    margin: 5px auto;

  }

  nav {

   height: 35px;
   margin:10px auto 0px ;
  }
  nav ul {

   margin: 0 auto;
   text-align: center;

  }
   nav li{

display: inline-block;
font-size: medium;
width: 15%;
padding: 10px 10px;
 border: 5px blue;

   }
   #Salmon{
       width: 85px;
   } 

   #chinook{
       width: 85px;
   }

   a {
       text-decoration: none;
       color: rgb(78, 3, 175);
   }
   
   main{
       margin: 35px 0;
       height: 500px;
   }



.aboutus{

    margin: 65px ;

}
.img1{
 width: 100%;
 height: auto;

}
.salmon  {

    font-size: 4rem;
    color: rgb(182, 32, 32);
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
     
} 

.locations-table ul{
    border-radius: 20px;
    border: none;
    color: rgb(190, 119, 37);
    margin-top: 60px;

    background-color: cornflowerblue;
}
.locations-table li{
    display: inline-block;
    width: 200px;
    font-size: 4rem;
    color: rgb(197, 98, 16);
    text-align: center; 
    padding: 15px;
    font-family: m;
}
.locations-table p{   
    font-size: 25px;
    color: rgb(26, 130, 161);
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
 footer{
background-color: rgb(207, 185, 189);
height: 100px;
color: darkgoldenrod;
    font-family: 'Montserrat', sans-serif;
     box-sizing: border-box;
     padding-top: 25px;
     margin-top: 45px;
     text-align: center;
 }

 h1 ,h2 ,h3{

    color :brown;
     font-family: 'H Helvetica', sans-serif;   

 }

table, td, th{
    border: solid black 2px;
    text-align: center;
    border-collapse: collapse;
    color:rgb(14, 6, 121);
    padding-right: 50px;
    margin-bottom: 20px;
}




